<div class="row">
        <div class="col-md-12">
          
          <nb-card>
            <nb-card-body>
              <!-- <div class="flex-centered col-sm-12">
                <h2 class="title">Demo</h2>
                <!-- <small class="sub-title">A demo.</small> -->
                
              <!-- </div> -->
              <div class="flex-centered col-sm-12">
                <h2 class="title">Link for Demo Description</h2> -->
                <div class="col-lg-12 col-md-12 col-sm-12"></div>
                <iframe [src]="link" style="height:1000px;width:1000px;"> </iframe>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
    </div>