<nb-card>
  <nb-card-header>Buttons</nb-card-header>

  <nb-card-body>
    <!-- <div class="size-container"> -->
      <!-- <div class="container-title"> -->
        <!-- <span>Large Button</span> -->
      <!-- </div> -->
      <!-- <div class="subheader"> -->
        <!-- <span>0.875rem 1.75rem</span> -->
      <!-- </div> -->
      <!-- <div> -->
        <!-- <button class="btn btn-primary btn-lg">Large Button</button> -->
      <!-- </div> -->
    <!-- </div> -->
    <div class="size-container">
      <div class="container-title">
        <span>Save button</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Save"><i class="fa fa-save fa-sm" ></i></button>
      </div>
    </div>
    <div class="size-container">
      <div class="container-title">
        <span>Delete button</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Delete"><i class="fa fa-trash-o fa-sm" ></i></button>
      </div>
    </div>	
    <div class="size-container">
      <div class="container-title">
        <span>Add Item</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Add Item"><i class="fa fa-plus fa-sm" ></i></button>
      </div>
    </div>	
	<div class="size-container">
      <div class="container-title">
        <span>Attribution</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Attribution"><i class="fa fa-table fa-sm" ></i></button>
      </div>
    </div>	
	<div class="size-container">
      <div class="container-title">
        <span>Size to Fit</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Size to Fit"><i class="fa fa-expand fa-sm" ></i></button>
      </div>
    </div>
	<div class="size-container">
      <div class="container-title">
        <span>Auto size</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Auto size"><i class="fa fa-compress fa-sm" ></i></button>
      </div>
    </div>
	<div class="size-container">
      <div class="container-title">
        <span>Export to Excel</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Export to Excel"><i class="fa fa-upload fa-sm" ></i></button>
      </div>
    </div>
	<div class="size-container">
      <div class="container-title">
        <span>Convert to Tree</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Convert to Tree"><i class="fa fa-tree fa-sm" ></i></button>
      </div>
    </div>	
	<div class="size-container">
      <div class="container-title">
        <span>Back</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Back"><i class="fa fa-chevron-left fa-sm" ></i></button>
      </div>
    </div>	
	<div class="size-container">
      <div class="container-title">
        <span>Next</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Next"><i class="fa fa-chevron-right fa-sm" ></i></button>
      </div>
    </div>	
	<div class="size-container">
      <div class="container-title">
        <span>Go to Models</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Go to Models"><i class="fa fa-object-ungroup fa-sm" ></i></button>
      </div>
    </div>	
	<div class="size-container">
      <div class="container-title">
        <span>Bookmark</span>
      </div>
      <div class="subheader">
        <span>0.75rem 1.5rem</span>
      </div>
      <div>
        <button class="btn btn-sm" title="Add to Bookmark"><i class="fa fa-bookmark fa-sm" ></i></button>
      </div>
    </div>		
    <!-- <div class="size-container"> -->
      <!-- <div class="container-title"> -->
        <!-- <span>Small Button</span> -->
      <!-- </div> -->
      <!-- <div class="subheader"> -->
        <!-- <span>0.675rem 1.5rem</span> -->
      <!-- </div> -->
      <!-- <div> -->
        <!-- <button class="btn btn-primary btn-sm">Small Button</button> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="size-container"> -->
      <!-- <div class="container-title"> -->
        <!-- <span>Tiny Button</span> -->
      <!-- </div> -->
      <!-- <div class="subheader"> -->
        <!-- <span>0.5rem 1.25rem</span> -->
      <!-- </div> -->
      <!-- <div> -->
        <!-- <button class="btn btn-primary btn-tn">Tiny</button> -->
      <!-- </div> -->
    <!-- </div> -->
  </nb-card-body>
</nb-card>
